<div class="container uk-flex uk-flex-middle uk-flex-center uk-height-viewport"> 
    <mat-card class="uk-width-1-3@m uk-width-1-2@s">
        <div class="uk-flex uk-flex-center uk-margin-medium-buttom">
            <h3>REGISTER</h3>
        </div>
    <mat-card-content>
        <mat-form-field class="uk-width-1-2" style="width: 250px;">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="user.email" name="email" matInput placeholder="your name" value="">
        </mat-form-field>
        <br>
        <mat-form-field class="uk-width-1-2" style="width: 250px;">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Your Password" value="" >
        </mat-form-field>
        <div class="uk-flex uk-flex-right" style="margin-right: 230px;" >
              <button mat-button routerLink="/login">Back</button>
              <button mat-button routerLink="/login">Have Account!</button>
        </div>
       <button style="margin-top: 15px; margin-right: 10px ;" class="uk-position-center-right uk-button uk-button-primary uk-button-small" (click)="register()">CREATE</button>
    </mat-card-content>
    </mat-card>
</div>
